#main {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: auto;
    text-align: center;
    border: 3px solid black;
}

#header {
    display: block;
    width: 100%;
    height: 100px;
    text-align: center;
    border: 3px solid green;
}
